:root {
  --shade1: rgb(193, 193, 193);
  --shade2: rgb(130, 130, 130);
  --shade3: rgb(64, 64, 64);
  --text-blue: rgb(0, 187, 255);
  --dark-blue: rgb(3, 24, 32);
  --text-head-white: rgb(213, 213, 213);
  --text-white: rgb(162, 162, 162);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s linear;
  }
}

*{
  padding: 0;
  margin: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  padding: 0 !important;
  position: absolute;
}

.header-nav {
  background-color: transparent;
  z-index: 10;
  position: fixed;
  width: 100vw;
  height: 60px;
}

.header-nav .nav-link, .navbar-brand {
  position: relative;
  color: rgb(0, 187, 255) !important;
  padding: 5px 40px;
  font-size: 1.2rem;
  font-weight: 500;
}

.header-nav .nav-link{
  margin: 0;
}

.nav-link:hover::after, .navbar-brand:hover::after {
  content: "";
  height: 100%;
  /* width: 60%; */
  position: absolute;
  top: 0px;
  left: 20%;
  animation: hoverButton 0.3s linear alternate-reverse;
}

.nav-link:hover::after {
  border-bottom: 2px solid rgb(0, 187, 255);
}

.navbar-brand:hover::after {
  border-bottom: 3px solid rgb(0, 187, 255);

}
@keyframes hoverButton {
  0% {
    width: 60%;
    left: 20%;
  }
  100% {
    width: 0%;
    left: 50%;
  }
}

.navbar-brand {
  font-size: 2rem;
  letter-spacing: 2px;
}

.header-nav .navbar-collapse{
  justify-content: flex-end !important;
}

.navbar-light .navbar-toggler{
  border-color: transparent !important;
}

.navbar-toggler:focus {
  outline: none !important;
  box-shadow: none !important;
}

.navbar-toggler-icon{
  color: #F74C58 !important;
}





/* pointer */
.pointer {
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 10;
  border-radius: 50%;
  border: 5px solid var(--text-blue);
}
/* ******* */




/* *********** footer *********** */
.footer {
  position: relative;
}

.water-waves {
  width: 100%;
  position: absolute;
  bottom: 175px;
}

.water-wave-1 {
  opacity: 1;
  animation: water-wave-1 60s linear infinite alternate-reverse;
}
@keyframes water-wave-1 {
  0%{
    transform: translate(10%, 100px);
  }
  100% {
    transform: translate(-70%, 100px);
  }
}

.water-wave-2 {
  opacity:0.9;
  animation: water-wave-2 45s linear infinite alternate-reverse;
}
@keyframes water-wave-2 {
  0%{
    transform: translate(-90%, 100px);
  }
  100% {
    transform: translate(10%, 100px);
  }
}

.water-wave-3 {
  opacity: 0.8;
  animation: water-wave-3 30s linear infinite alternate-reverse;
}
@keyframes water-wave-3 {
  0%{
    transform: translate(10%, 100px);
  }
  100% {
    transform: translate(-70%, 100px);
  }
}
/* ****************************** */





/* ********** main ********** */
.main{
  width: 100%;
}
/* ************************ */





/* *********** Homepage *********** */
.home {
  background-color: var(--dark-blue);
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}

.wave-background {
  position: relative;
  z-index: 0;
  width: 100%;
}

.wave-normal {
  position: relative;
  top: 0px;
  transform: rotateZ(-50deg) scale(3) translateY(-100px);
  animation: wave-normal 17s linear infinite alternate-reverse;
}
@keyframes wave-normal {
  0% {
    transform: rotateZ(-50deg) scale(3) translateY(-100px) translateX(0px);
  }
  100% {
    transform: rotateZ(-50deg) scale(3) translateY(-100px) translateX(50px);
  }
}

.wave-dark {
  top: 0px;
  position: relative;
  animation: wave-dark 15s linear infinite alternate-reverse;
}
@keyframes wave-dark {
  0% {
    transform: rotateZ(-40deg) scale(6) translateY(20px) translateX(-280px);
  }
  100% {
    transform: rotateZ(-40deg) scale(6) translateY(10px) translateX(-270px);
  }
}

.wave-light {
  top: 0px;
  position: relative;
  transform: rotateZ(-40deg) scale(3) translateY(80px) translateX(-250px);
  animation: wave-light 35s linear infinite alternate-reverse;
}
@keyframes wave-light {
  0% {
    transform: rotateZ(-60deg) scale(3) translateY(80px) translateX(-250px);
  }
  100% {
    transform: rotateZ(-60deg) scale(3) translateY(150px) translateX(-50px);
  }
}

.home-heading {
  position: absolute;
  /* top: 15%; */
}

.home-heading h1 {
  font-size: 42px;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  cursor: context-menu;
}

.home-heading h1 span {
  color: rgba(255, 255, 255, 0.9);
  letter-spacing: 4px;
  font-weight: 900;
}

.home-heading h1 span:nth-child(2), .home-heading h1 span:nth-child(4) {
  font-size: 42px;
}

.down-arrow {
  position: absolute;
  z-index: 9;
  bottom: 20%;
  cursor: pointer;
  animation: down-arrow 1s infinite linear alternate-reverse;
  padding: 10px;
}

.down-arrow:hover {
  background-color: rgba(3, 24, 32, 0.05);;
  border-radius: 50%;
}

@keyframes down-arrow {
  0% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(15px);
  }
}
/* ******************************** */





/* ************** work ************** */ 
.work {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* flex-wrap: nowrap; */
  background-color: var(--dark-blue);
  z-index: 2;
  padding-top: 100px;
}

.work-title {
  color: white;
  font-size: 60px;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20%;
}

.work-box {
  width: 100%;
  height: 100%;
  /* margin: 0px 20px 0px 0px;
  padding: 40px 20px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 20px;
  margin-bottom: 20%;
}

.work-box > h1 {
  font-size: 30px;
  flex: 1;
  color: var(--text-head-white);
  letter-spacing: 5px;
}

.work-box > div {
  display: flex;
  flex-direction: row;
  flex: 9;
  margin-top: 50px;
}

.work-box p {
  color: var(--text-white);
  font-size: 20px;
  letter-spacing: 2px;
}

.work-row {
  margin: 0 !important;
}
/* ********************************** */





/* ************** About ************** */
.about {
  width: 100vw;
  height: 100vh;
  background-color: var(--dark-blue);
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow : hidden;
  padding-top: 0px;
}

.about-title {
  margin-bottom: 10%;
  color: white;
  font-size: 60px;
}

.about-container {
  max-width: 600px;
  /* border: 3px solid rgba(0, 187, 255, 0.5); */
  border-radius: 20px;
  margin-bottom: 150px;
  /* box-shadow: 0px 0px 50px 0px rgba(0, 187, 255, 0.2); */
  padding: 30px;
  color: var(--text-white);
  font-size: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  text-align: center;
}

.profile-container {
  width: 100%;
  position: absolute;
  bottom: 70px;
}

.profile-container-row1 {
  width: 100vw;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 !important;
  padding: 0 10%;
}

.profile-container-row2 {
  width: 100vw;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin: 0 !important;
}

.about-profile-1, .about-profile-2, .about-profile-3 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
}

@keyframes about-profile {
  0% {
    box-shadow: 0px 0px 50px 10px rgba(0, 187, 255, 0.4);
  }
  100%  {
    box-shadow: 0px 0px 10px 0px rgba(0, 187, 255, 0.1);
  }
}

.about-profile-1 {
  background-image: url(./image/person_1.jpg);
  position: relative;
}

.about-profile-2 {
  background-image: url(./image/person_2.jpg);
  position: relative;
}

.about-profile-3 {
  background-image: url(./image/person_3.jpg);
  position: relative;  
}

.round-text-1 {
  width: 300px;
  height: 300px;
  position: absolute;
  padding-left: 150px;
  left: -50%;
  top: -50%;
  animation: round-text 10s linear infinite;
}

.round-text-2 {
  width: 300px;
  height: 300px;
  position: absolute;
  padding-left: 150px;
  left: -50%;
  top: -50%;
  animation: round-text 10s linear infinite;
}

.round-text-3 {
  width: 300px;
  height: 300px;
  position: absolute;
  padding-left: 150px;
  left: -50%;
    top: -50%;
  animation: round-text 10s linear infinite;
}
@keyframes round-text {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-360deg);
  }
}
/* *********************************** */





/* ************* Contact ************* */
.contact {
  width: 100vw;
  height: 100vh;
  background-color: var(--dark-blue);
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

.contact-title {
  margin-top: 20%;
  font-size: 50px;
  color: white;
}

.contact-info {
  color: var(--text-white);
  font-size: 20px;
  letter-spacing: 2px;
  z-index: 2;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: start;
  margin-top: 20px;
}

.icons {
  /* display: flex;
  flex-direction: row; */
  margin-top: 50px;
  /* z-index: 1; */
} 

.icon {
  font-size: 200;
}

.contact-row {
  margin: 0 !important;
}

.upwork-icon {
  width: 100px;
  height: 100px;
  display: flex;
  /* margin: 30px; */
  padding: 10%;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(0, 187, 255, 0.1);
  cursor: pointer;
}

/* *********************************** */